*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Metal Mania', cursive;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #341f97;
} 

.welcome_text{
  width: 400px;
}

.welcome_form input,
.welcome_form button{
  display: block;
  width: 100%;
}

.welcome_form input{
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FFF; 
  color: #FFF;
  font-size: 30px;
  text-align: center;
}

.welcome_form button{
  font-size: 22px;
  padding: 20px 0;
  border: none;
  background-color: #FFF;
  border-radius: 100px;
  color: #341f97;
  transition: 0.4s all;
}

.welcome_form button:hover{
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #341f97;
  color: #FFF;
  border: 2px solid #FFF;
}

.welcome_form input:focus,
.welcome_form button:focus{
  outline: none;
}

.quiz{
  border-radius: 3px;
  display: grid;
  grid-template-rows: 60px auto;
  width: 800px;
  height: 500px;
  background-color: #FFF;
}

.quiz_header{
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
  z-index: 1;
}

.quiz_body{
  padding: 30px;
  background-color: #ecf0f1;
}

.quiz_user{
  display: flex;
  align-items: center;
  padding-left: 30px; 
}

.quiz_timer{
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background-color: #341f97;
  color: white;
}

.option_group{
  list-style-type: none;
  margin: 30px 0;
}

.option{
  background-color: #FFF;
  width: 300px;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 100px;
  border: 2px solid transparent;
}

.option:hover{
  cursor: pointer;
  border: 2px solid #341f97;
  color: #341f97;
}

.btn_next{
  background-color: #341f97;
  color: #FFF;
  padding: 15px 35px;
  border: none;
  border-radius: 27px;
  transition: 0.4s all;
}

.btn_next:hover{
  cursor: pointer;
  background-color: #FFF;
  color: #341f97;
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.active{
  background-color: #341f97;
  color: #FFF !important;
}

.user_name,.user_points,.user_time,.tryagain{
  color: #FFF;
  text-align: center;
  margin-top: 15px;
}

.tryagain{
  margin-left: 220px;
}